.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -4.8rem 0 4.8rem;
  font-size: 1.44rem;
  @include desktop {
   justify-content: flex-start;
   padding: 0 0 0 3.2rem;
  }
  &__copyright {
    color: $secondary-color;
    &--instanews {
      text-transform: uppercase;
    }
  }
}