* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: $main-color;
  background-color: $bkg-color;
  @include tablet{
    font-size: 1.1rem;
  }
  @include desktop {
    font-size: 1.6rem;
  }
}
a,
a:hover,
a:after {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  display: block;
  width: 100%;
}
